In [ ]:
import pandas as pd

In [ ]:
data=pd.read_csv("/content/exams.csv")

In [ ]:
data

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,male,group A,high school,standard,completed,67.0,67.0,63.0
1,female,group D,some high school,free/reduced,none,40.0,59.0,55.0
2,male,group E,some college,free/reduced,none,59.0,60.0,50.0
3,male,group B,high school,standard,none,77.0,78.0,68.0
4,male,group E,associate's degree,standard,completed,78.0,73.0,68.0
...,...,...,...,...,...,...,...,...
995,male,group C,high school,standard,none,73.0,70.0,65.0
996,male,group D,associate's degree,free/reduced,completed,85.0,91.0,92.0
997,female,group C,some high school,free/reduced,none,32.0,35.0,41.0
998,female,group C,some college,standard,none,73.0,74.0,82.0
999,male,group A,some college,standard,completed,65.0,60.0,62.0

In [ ]:
from sklearn.preprocessing import LabelEncoder

le=LabelEncoder()

In [ ]:
data['gender']=le.fit_transform(data['gender'])
data['parental level of education']=le.fit_transform(data['parental level of education'])
data['lunch']=le.fit_transform(data['lunch'])
data['test preparation course']=le.fit_transform(data['test preparation course'])
data['race/ethnicity']=le.fit_transform(data['race/ethnicity'])

In [ ]:
data.dtypes

gender                           int64
race/ethnicity                   int64
parental level of education      int64
lunch                            int64
test preparation course          int64
math score                     float64
reading score                  float64
writing score                  float64
dtype: object

## DECISION TREE CLASSIFIER

In [ ]:
data.isna().sum()

gender                         0
race/ethnicity                 0
parental level of education    0
lunch                          0
test preparation course        0
math score                     0
reading score                  0
writing score                  0
dtype: int64

In [ ]:
data["reading score"].mean()

69.04828973843058

In [ ]:
data["reading score"].fillna("69.0482",inplace=True)

In [ ]:
data["math score"].mean()

66.38076152304609

In [ ]:
data["math score"].fillna("66.3807",inplace=True)

In [ ]:
data["writing score"].mean()

67.74474474474475

In [ ]:
data["writing score"].fillna("67.7447",inplace=True)

In [ ]:
data["gender"].mode()

0    1
Name: gender, dtype: int64

In [ ]:
data["gender"].fillna("male",inplace=True)

In [ ]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
# Sample dataset (features and target variable)
# Replace X and y with your dataset
X = data.drop(columns=['writing score'])
y = data['writing score']

# Splitting the dataset into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Creating a Linear Regression model
model = LinearRegression()

# Training the model
model.fit(X_train, y_train)

# Making predictions
y_pred = model.predict(X_test)

In [ ]:
y_test

521    82.0
737    81.0
740    51.0
660    97.0
411    72.0
       ...
408    43.0
332    43.0
208    84.0
613    82.0
78     76.0
Name: writing score, Length: 200, dtype: float64

In [ ]:
y_pred

array([ 83.03822251,  78.35787041,  48.62520971,  93.95081595,
        71.94474251,  70.59925592, 101.54447436,  81.53386637,
        86.13934146,  77.54645562,  57.42961316,  59.77733982,
        53.86960392,  69.24410638,  32.30830241,  30.52622502,
        77.20843518,  76.46159425,  75.33462092,  79.62379004,
        55.39040758,  75.58990093,  74.29440209,  95.44939007,
        71.31349692,  93.01040102,  76.23729003,  76.82414674,
        70.63032317,  64.57125538,  79.86278421,  68.60509557,
        45.47843874,  84.99540637,  74.49185833,  65.53291993,
        71.75804395,  84.16790641,  68.46120616,  46.29419253,
        58.32607602, 103.5756825 ,  44.70262647,  60.04094943,
        40.92594408,  77.4538467 ,  66.17485975,  71.95321384,
        61.79328592,  68.94379409,  60.3030414 ,  48.40748645,
        46.18514795,  71.86932107,  52.47701039,  76.37236434,
        65.49739701,  86.59289596,  68.03270392,  80.80446228,
        43.10181096,  52.58297104,  86.22260701,  64.52424957,
        96.75013458,  89.67633251,  95.27433445,  59.62665971,
        70.34951801,  60.55216408,  39.85640049,  76.37182798,
        74.10544653,  69.63480386,  66.22053222,  64.48120721,
       101.51534003,  81.94774212,  66.98589153,  58.70905937,
        61.2066705 ,  59.27337529,  81.70785817,  47.08931318,
        79.51750472,  45.2132841 ,  74.63299656,  75.71732156,
        55.48707864,  68.58124969,  80.36849872,  54.83322965,
        71.42671527,  60.05585106,  84.72508434,  67.5227524 ,
        72.7520037 ,  54.7728796 ,  79.96099222,  96.83999232,
        89.13503613,  51.19042778,  46.42001726,  74.23372819,
        82.97874157,  47.2399446 ,  74.11335191,  85.15495379,
        89.53344429,  67.38614115,  56.72858643,  63.05183593,
        69.72607456, 102.39383859,  61.3822692 ,  71.28223924,
        87.41022487,  46.65258088,  76.62853196,  60.16743074,
        41.3405383 ,  82.46754759,  59.37835469,  68.65772258,
        92.18978323,  46.17875936,  75.2344017 ,  70.10959345,
        78.03304224,  82.01637091,  87.6455184 ,  70.88383108,
        66.94341513,  66.75391513,  67.39931431,  63.99942946,
        71.74257636,  57.53304753,  42.4983946 ,  65.07527076,
        86.94560206,  65.55117502,  93.46215467,  99.45271195,
        43.76225351,  62.43430794,  51.82306993,  30.81232478,
        79.77268518,  79.93859968,  65.05201128,  91.77481542,
        58.95736357,  79.75159856,  75.70932471,  44.30450021,
        79.34419101,  76.25833605,  63.69917611,  75.19842581,
        53.16209663,  80.6913437 ,  40.67595229,  74.00098223,
        72.33896881,  52.09372471,  57.22623474,  25.45352869,
        65.21787709,  69.54524928,  45.68258673,  44.58218084,
        89.78993658,  62.48800685,  63.97463167,  80.32342448,
        59.09143533,  89.47215492,  91.05412688,  72.81851049,
        58.96474149,  41.58835588,  47.66167546,  77.89944496,
        61.1484933 ,  66.63168932,  55.08706223,  65.00621775,
        84.52113997,  63.55402221,  48.79912241,  34.21183545,
        66.76170837,  62.29132825,  60.31314924,  46.1558232 ,
        50.53688193,  83.84412968,  78.0499064 ,  70.62883514])

In [ ]:
from sklearn.metrics import mean_squared_error
# Calculation of Mean Squared Error (MSE)
mean_squared_error(y_test,y_pred)

15.202327060147223

In [ ]:
from sklearn.metrics import r2_score

# Calculate R-squared
r2_score_value = r2_score(y_test, y_pred)

# Print the R-squared value
print("R-squared:", r2_score_value)

R-squared: 0.9424654438237008